**/.terraform/
**/*.auto.tfvars.json
**.tfstate
**.tfstate.*
.env
*.pem
*.key
*.crt
*.kubeconfig

# Packer custom variables
packer/local.auto.pkrvars.hcl

# cert genarated

ansible/generated/
.ansible_cache/
